#put it in the root

#ignore lib and objects
*.[oa]

#ignore vscode files
.v*
vgcore*

#ignore shell testing
#*.sh

#ignore temp files
*~

#uncomment next line if you don t need to push main.c file
#main.c
