<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>EpyTodo</title>
        <link rel="stylesheet" href="../static/css/index.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </head>

    <body>
        <header>
            <h1>{{ title }}</h1>
            <h2>{{ home }}</h2>
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand" href="#">EpyTodo</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                      <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Board</a>
                    </li>
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Account
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Sign in</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Register</a>
                      </div>
                    </li>
                  </ul>
                </div>
              </nav>
        </header>

        <section>
            <form id="myForm" method='GET' action="/user">
                <div class="form-group">
                  <label for="formGroupExampleInput">User</label>
                  <input type="text" class="form-control" id="formGroupExampleInput" placeholder="example@epitech.eu" required>
                </div>
                <div class="form-group">
                  <label for="formGroupExampleInput2">Password</label>
                  <input type="password" class="form-control" id="formGroupExampleInput2" placeholder="*******">
                </div>
                <input type="submit" value="login" onclick="sendJson()">
              </form>
        </section>

        <footer>
            <p>Made by EPITECH Students : Florian GABON, Arnaud GUEROUT, Alexandre CALVET</p>
        </footer>
        
        <script type="text/javascript">
            function sendJson() {
              var xhr = new XMLHttpRequest();
              xhr.open(form.method, form.action, true);
              xhr.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
              var formData = JSON.stringify($("#myForm").serializeArray());
              };
              xhr.send(JSON.stringify(formData));
        </script>
    
      </body>
</html>